html, body {
    margin: 0;
    height: 100%;
    background-color: #fee5df;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; 
}

.header_text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
}

.header_text2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255); 
    margin-top: 10px; 
}

.gif_container {
    margin-top: 20px; 
}

.gif_container img {
    max-width: 100%; 
    height: auto;
}

.buttons {
    margin-top: 20px; 
}

.btn {
    background-color: white;
    color: darkred;
    padding: 25px 32px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffcccc;
}