body {
    margin: 0;
    height: 100%;
    }


    .container {
        display: flex;
        flex-direction: column; /* Align items in a column */
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .header_text {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: rgb(255red, gree255n, bl255ue);
        text-align: center;
    }
    
    .header_text2 {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(255red, gree255n, bl255ue);
        text-align: center;
        margin-top: 20px;
    }

    .gif_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }